[submodule "Hexalith.Builds"]
	path = references/Hexalith.Builds
	url = https://github.com/Hexalith/Hexalith.Builds.git
[submodule "Hexalith.PolymorphicSerializations"]
	path = references/Hexalith.PolymorphicSerializations
	url = https://github.com/Hexalith/Hexalith.PolymorphicSerializations
	branch = main
[submodule "Hexalith.AI.Tools"]
	path = references/Hexalith.AI.Tools
	url = https://github.com/Hexalith/Hexalith.AI.Tools.git
	branch = main
